<!DOCTYPE HTML>
<html>
<head>
<title>PamperBase</title>
<meta charset="utf-8">
<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/oauth.js"></script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.formerize-1.1.js"></script>
<script src="/stylesheets/5grid/init.js?use=mobile,desktop"></script>
<script src="/javascripts/init.js"></script>
<script src="/node_modules/moment/min/moment.min.js"></script>
<script src='javascripts/fullcalendar.js'></script>
<script src="javascripts/addmore.js"></script>
<noscript>
<link rel="stylesheet" href="/stylesheets/5grid/core.css">
<link rel="stylesheet" href="/stylesheets/5grid/core-desktop.css">
<link rel="stylesheet" href="/stylesheets/5grid/core-1200px.css">
<link rel="stylesheet" href="/stylesheets/5grid/core-noscript.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/style-desktop.css">
<link rel="stylesheet" href="/stylesheets/noscript.css">
</noscript>
 

<link rel="icon" href="/images/favicon.ico" type="image/x-icon"> 
<link rel='stylesheet' href='/stylesheets/fullcalendar.css' />
<script type="text/javascript" src="/javascripts/list.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-combined.min.css">
<script type='text/javascript'>
	$(function(){
   	$('#apptModal').modal({
		keyboard: true,
		show:false,
	  });
    $('#delclientmodal').modal({
    keyboard: true,
    backdrop: "static",
    show:false,
    });
    $('#newclientmodal').modal({
    keyboard: true,
    backdrop: "static",
    show:false,
    });
    $('#servModal').modal({
    keyboard: true,
    backdrop: "static",
    show:false,
    });
    $('#proModal').modal({
    keyboard: true,
    backdrop: "static",
    show:false,
    });
    $('#addProModal').modal({
    keyboard: true,
    backdrop: "static",
    show:false,
    });
    $('#addServModal').modal({
    keyboard: true,
    backdrop: "static",
    show:false,
    });
  });
</script>


<!--[if lte IE 8]>
<link rel="stylesheet" href="css/ie8.css">
<![endif]-->

</head>
<body class="homepage">
  <div id="authorize-div" style="display: none">
    <span>Authorize access to Google Sheets API</span>
      <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button" onclick="handleAuthClick(event)">
      Authorize
    </button>
  </div>
  <div id="wrapper">
    <h1 id="title" class="center">PamperBase</h1>
    <nav id="nav"> 
      <a id="calendarLink" href="#calendar" class="icon icon-calendar active">
        <span>Calendar</span>
      </a> 
      <a id="clientLink" href="#client" class="icon icon-user">
        <span>Client</span>
      </a> 
      <a id="mail" href="#search" class="icon icon-search">
        <span>Search</span>
      </a> 
      <a id="reportLink" href="#report" class="icon icon-memo">
        <span>Report</span>
      </a>
      <a id="inventoryLink" href="#inventory" class="icon icon-drawer">
        <span>Inventory</span>
      </a>
    </nav>
    <div id="main">
      <article id="calendar" class="panel">
        <header></header>
          <div id='calendar'></div>
      </article>

      <!--
          Client Information Page
            -->
      <article id="client" class="panel">
        <header>
          <div class="floatR">
              <button type="button" class="button" id="deletebtn" data-toggle="modal" data-target="#delclientmodal">Delete Client</button>
          </div>
          <div class="clientcreate">
              <button type="button" class="button" id="createbtn" data-toggle="modal" data-target="#newclientmodal">New Client</button>
          </div>
          <h2><br/>Client Information</h2>
        </header>
        <form action="#" method="post">
          <div class="5grid">
            <div class="row">
              <div class="6u">
                <label for="fname">First Name</label>
                <input type="text" class="text" id="fname" required>
              </div>
              <div class="6u">
                <label for="lname">Last Name</label>
                <input type="text" class="text" id="lname" required>
              </div>
            </div>
            <div class="row">
              <div class="6u">
                <label for="address">Address</label>
                <input type="text" class="text" id="address">
              </div>
              <div class="6u">
                <label for="phone">Telephone</label>
                <input type="tel" class="text" id="phone">
              </div>
            </div>
            <div class="row">
              <div class="6u">
                <label for="eMail">E-mail</label>
                <input type="text" class="text" id="eMail">
              </div>
              <div class="6u">
                <label for="bday">Date of Birth</label> 
                <input type="date" class="text" id="bday">
              </div>
            </div>
          </div><br/>
          <div class="center">
            <button type="button" class="button" id="save-client">Save Changes</button><br/><br/>
            <button type="button" id="newappt" class="button" data-toggle="modal" href="#apptModal">Add Appointment</button>
          </div>
        </form>
        <!--
            Appointments Table
             -->
        <h3>Appointments</h3>
        
        <table class="table table-striped"> 
          <thead>
            <tr>
              <th class="col200">Date</th>
              <th class="col250">Service(s)</th>
              <th class="small">Total</th>
              <th class="col200">Notes</th>
              <th class="tiny">Print</th>
            </tr>
          </thead>
        </table>
        <div id="appointmentsTable">
          <table class="table table-striped"> 
            <tbody id="appointments">
            <!-- past appointments will print here -->
            </tbody>
          </table>
        </div>
      </article> <!-- closes client page -->

<!--
    Search Page
      -->
      <article id="search" class="panel">
        <header>
          <h2>Search</h2>
        </header>
        <div class="table" id="searchlist">
          <input class="search" placeholder="Search" /><br/><br/>
            <div class="data">
              <ul class="row-header">
                <li>Last Name</li>
                <li>First Name</li>
                <li>Telephone</li>
                <li>Current Appointment</li>
              </ul>
              <div class="list" id="listpeople">
              <!--search list will print here-->
              </div>
            </div>
        </div>
      </article>
<!--
    Report Page
      -->
      <article id="report" class="reportpanel panel">
        <header>
          <h2>Yearly Report</h2><br/>
          <div> 
          <!-- yearly totals -->
            <h2 class="center reportYear">2016</h2>
            <h3 class="center" id="yearlyTotal"></h3>
            <table id="reportTable" class="table table-striped" align="center">
              <thead>
                <tr>
                <th class="col200 center" id="servTotal"></th>
                <th class="col200 center" id="proTotal"></th>
                <th class="col200 center" id="taxTotal"></th>
                <th class="col200 center" id="discTotal"></th>
                </tr>
              </thead>
            </table>
         <!-- end yearly totals -->
          </div>
        </header>
       <!--  monthly totals -->
       <div class="height900">
          <!-- Jan Feb -->
        <table id="monthsTable" class="table table-striped">
          <tr>
            <!-- jaunary column -->
            <td class="col500">
              <table id="january" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">January</th></tr>
                  <tr><th class="center" id="janTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="janApps">
                  <!-- january appointment details print here -->
                    <tr class="highlight">
                      <td id="janName" class="colFixedL">lastname, first</td>
                      <td id="janServ" class="colFixedB">150.00</td>
                      <td id="janPro" class="colFixedB">547.00</td>
                      <td id="janTax" class="colFixedS">20.15</td>
                      <td id="janDisc" class="colFixedB">20.00</td>
                      <td id="janAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="janClients" class="colFixedL center">0 Clients</th>
                    <th id="janServTotal" class="colFixedB center">2310.00</th>
                    <th id="janProTotal" class="colFixedB center">2310.00</th>
                    <th id="janTaxTotal" class="colFixedS center">210.00</th>
                    <th id="janDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes january column -->
            <!-- february column -->
            <td class="col500">
              <table id="February" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">February</th></tr>
                  <tr><th class="center" id="febTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="febApps">
                  <!-- february appointment details print here -->
                    <tr class="highlight">
                      <td id="febName" class="colFixedL">lastname, first</td>
                      <td id="febServ" class="colFixedB">150.00</td>
                      <td id="febPro" class="colFixedB">547.00</td>
                      <td id="febTax" class="colFixedS">20.15</td>
                      <td id="febDisc" class="colFixedB">20.00</td>
                      <td id="febAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="febClients" class="colFixedL center">0 Clients</th>
                    <th id="febServTotal" class="colFixedB center">2310.00</th>
                    <th id="febProTotal" class="colFixedB center">2310.00</th>
                    <th id="febTaxTotal" class="colFixedS center">210.00</th>
                    <th id="febDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes february column -->
          </tr> 
          <!-- Mar - Apr  -->
          <tr>
            <!-- march column -->
            <td class="col500">
              <table id="march" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">March</th></tr>
                  <tr><th class="center" id="marTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="marApps">
                  <!-- March appointment details print here -->
                    <tr class="highlight">
                      <td id="marName" class="colFixedL">lastname, first</td>
                      <td id="marServ" class="colFixedB">150.00</td>
                      <td id="marPro" class="colFixedB">547.00</td>
                      <td id="marTax" class="colFixedS">20.15</td>
                      <td id="marDisc" class="colFixedB">20.00</td>
                      <td id="marAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="marClients" class="colFixedL center">0 Clients</th>
                    <th id="marServTotal" class="colFixedB center">2310.00</th>
                    <th id="marProTotal" class="colFixedB center">2310.00</th>
                    <th id="marTaxTotal" class="colFixedS center">210.00</th>
                    <th id="marDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes March column -->
            <!-- April column -->
            <td class="col500">
              <table id="april" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">April</th></tr>
                  <tr><th class="center" id="aprTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="aprApps">
                  <!-- April appointment details print here -->
                    <tr class="highlight">
                      <td id="aprName" class="colFixedL">lastname, first</td>
                      <td id="aprServ" class="colFixedB">150.00</td>
                      <td id="aprPro" class="colFixedB">547.00</td>
                      <td id="aprTax" class="colFixedS">20.15</td>
                      <td id="aprDisc" class="colFixedB">20.00</td>
                      <td id="aprAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="aprClients" class="colFixedL center">0 Clients</th>
                    <th id="aprServTotal" class="colFixedB center">2310.00</th>
                    <th id="aprProTotal" class="colFixedB center">2310.00</th>
                    <th id="aprTaxTotal" class="colFixedS center">210.00</th>
                    <th id="aprDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes April column -->
          </tr>
          <!-- May - Jun -->
          <tr>
            <!-- May column -->
            <td class="col500">
              <table id="may" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">May</th></tr>
                  <tr><th class="center" id="mayTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="mayApps">
                  <!-- May appointment details print here -->
                    <tr class="highlight">
                      <td id="mayName" class="colFixedL">lastname, first</td>
                      <td id="mayServ" class="colFixedB">150.00</td>
                      <td id="mayPro" class="colFixedB">547.00</td>
                      <td id="mayTax" class="colFixedS">20.15</td>
                      <td id="mayDisc" class="colFixedB">20.00</td>
                      <td id="mayAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="mayClients" class="colFixedL center">0 Clients</th>
                    <th id="mayServTotal" class="colFixedB center">2310.00</th>
                    <th id="mayProTotal" class="colFixedB center">2310.00</th>
                    <th id="mayTaxTotal" class="colFixedS center">210.00</th>
                    <th id="mayDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes May column -->
            <!-- June column -->
            <td class="col500">
              <table id="june" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">June</th></tr>
                  <tr><th class="center" id="junTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="junApps">
                  <!-- jun appointment details print here -->
                    <tr class="highlight">
                      <td id="junName" class="colFixedL">lastname, first</td>
                      <td id="junServ" class="colFixedB">150.00</td>
                      <td id="junPro" class="colFixedB">547.00</td>
                      <td id="junTax" class="colFixedS">20.15</td>
                      <td id="junDisc" class="colFixedB">20.00</td>
                      <td id="junAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="junClients" class="colFixedL center">0 Clients</th>
                    <th id="junServTotal" class="colFixedB center">2310.00</th>
                    <th id="junProTotal" class="colFixedB center">2310.00</th>
                    <th id="junTaxTotal" class="colFixedS center">210.00</th>
                    <th id="junDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes jun column -->
          </tr>
          <!-- Jul - Aug -->
          <tr>
            <!-- Jul column -->
            <td class="col500">
              <table id="jul" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">July</th></tr>
                  <tr><th class="center" id="julTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="julApps">
                  <!-- jul appointment details print here -->
                    <tr class="highlight">
                      <td id="julName" class="colFixedL">lastname, first</td>
                      <td id="julServ" class="colFixedB">150.00</td>
                      <td id="julPro" class="colFixedB">547.00</td>
                      <td id="julTax" class="colFixedS">20.15</td>
                      <td id="julDisc" class="colFixedB">20.00</td>
                      <td id="julAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="julClients" class="colFixedL center">0 Clients</th>
                    <th id="julServTotal" class="colFixedB center">2310.00</th>
                    <th id="julProTotal" class="colFixedB center">2310.00</th>
                    <th id="julTaxTotal" class="colFixedS center">210.00</th>
                    <th id="julDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes jul column -->
            <!-- aug column -->
            <td class="col500">
              <table id="august" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">August</th></tr>
                  <tr><th class="center" id="augTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="augApps">
                  <!-- aug appointment details print here -->
                    <tr class="highlight">
                      <td id="augName" class="colFixedL">lastname, first</td>
                      <td id="augServ" class="colFixedB">150.00</td>
                      <td id="augPro" class="colFixedB">547.00</td>
                      <td id="augTax" class="colFixedS">20.15</td>
                      <td id="augDisc" class="colFixedB">20.00</td>
                      <td id="augAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="augClients" class="colFixedL center">0 Clients</th>
                    <th id="augServTotal" class="colFixedB center">2310.00</th>
                    <th id="augProTotal" class="colFixedB center">2310.00</th>
                    <th id="augTaxTotal" class="colFixedS center">210.00</th>
                    <th id="augDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes jun column -->
          </tr>
          <!-- sep - oct -->
          <tr>
            <!-- sep column -->
            <td class="col500">
              <table id="september" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">September</th></tr>
                  <tr><th class="center" id="sepTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="sepApps">
                  <!-- sep appointment details print here -->
                    <tr class="highlight">
                      <td id="sepName" class="colFixedL">lastname, first</td>
                      <td id="sepServ" class="colFixedB">150.00</td>
                      <td id="sepPro" class="colFixedB">547.00</td>
                      <td id="sepTax" class="colFixedS">20.15</td>
                      <td id="sepDisc" class="colFixedB">20.00</td>
                      <td id="sepAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="sepClients" class="colFixedL center">0 Clients</th>
                    <th id="sepServTotal" class="colFixedB center">2310.00</th>
                    <th id="sepProTotal" class="colFixedB center">2310.00</th>
                    <th id="sepTaxTotal" class="colFixedS center">210.00</th>
                    <th id="sepDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes sep column -->
            <!-- oct column -->
            <td class="col500">
              <table id="october" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">October</th></tr>
                  <tr><th class="center" id="octTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="octApps">
                  <!-- oct appointment details print here -->
                    <tr class="highlight">
                      <td id="octName" class="colFixedL">lastname, first</td>
                      <td id="octServ" class="colFixedB">150.00</td>
                      <td id="octPro" class="colFixedB">547.00</td>
                      <td id="octTax" class="colFixedS">20.15</td>
                      <td id="octDisc" class="colFixedB">20.00</td>
                      <td id="octAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="octClients" class="colFixedL center">0 Clients</th>
                    <th id="octServTotal" class="colFixedB center">2310.00</th>
                    <th id="octProTotal" class="colFixedB center">2310.00</th>
                    <th id="octTaxTotal" class="colFixedS center">210.00</th>
                    <th id="octDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes oct column -->
          </tr>
          <!-- nov - dec -->
          <tr>
            <!-- sep column -->
            <td class="col500">
              <table id="november" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">November</th></tr>
                  <tr><th class="center" id="novTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="novApps">
                  <!-- sep appointment details print here -->
                    <tr class="highlight">
                      <td id="novName" class="colFixedL">lastname, first</td>
                      <td id="novServ" class="colFixedB">150.00</td>
                      <td id="novPro" class="colFixedB">547.00</td>
                      <td id="novTax" class="colFixedS">20.15</td>
                      <td id="novDisc" class="colFixedB">20.00</td>
                      <td id="novAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="novClients" class="colFixedL center">0 Clients</th>
                    <th id="novServTotal" class="colFixedB center">2310.00</th>
                    <th id="novProTotal" class="colFixedB center">2310.00</th>
                    <th id="novTaxTotal" class="colFixedS center">210.00</th>
                    <th id="novDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes sep column -->
            <!-- oct column -->
            <td class="col500">
              <table id="december" class="col500 table table-striped">
                <thead>
                  <tr><th class="center">December</th></tr>
                  <tr><th class="center" id="decTotal">Month Total: $2644.00</th></tr>
                  <tr class="col500">
                      <th class="colFixedL">Name</th>
                      <th class="colFixedB">Services</th>
                      <th class="colFixedB">Products</th>
                      <th class="colFixedS">Tax</th>
                      <th class="colFixedB">Discount</th>
                      <th class="colFixedB">Total</th>
                  </tr>
                </thead>
              </table>
              <div class="overflowMonths"> <!-- scrolls excess apps -->
                <table class="table table-striped">
                  <tbody class="col500" id="decApps">
                  <!-- oct appointment details print here -->
                    <tr class="highlight">
                      <td id="decName" class="colFixedL">lastname, first</td>
                      <td id="decServ" class="colFixedB">150.00</td>
                      <td id="decPro" class="colFixedB">547.00</td>
                      <td id="decTax" class="colFixedS">20.15</td>
                      <td id="decDisc" class="colFixedB">20.00</td>
                      <td id="decAppTotal" class="colFixedB">8120.00</td>
                    </tr>
                  </tbody>
                </table> <!-- closes month appointments -->
              </div> <!-- close overflow -->
              <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="decClients" class="colFixedL center">0 Clients</th>
                    <th id="decServTotal" class="colFixedB center">2310.00</th>
                    <th id="decProTotal" class="colFixedB center">2310.00</th>
                    <th id="decTaxTotal" class="colFixedS center">210.00</th>
                    <th id="decDiscTotal" class="colFixedB center">2310.00</th>
                    <th class="colFixedB"></th>
                  </tr>
                </tfoot>
              </table> <!-- closes month totals -->
            </td> <!-- closes oct column -->
          </tr>
        </table>
      </div> <!-- closes months overflow -->
    </article>

<!--
    Inventory Page
      -->
    <article id="inventory" class="panel">
      <header>
      <h2>Add Products & Services</h2>
      </header>
      <button type="button" class="button floatL" id="" data-toggle="modal" href="#addProModal">Add Product</button>
      <button type="button" class="button floatR" id="" data-toggle="modal" href="#addServModal">Add Service</button><br/><br/><br/><br/>
      <table class="table">
        <tr>
          <td id="productTable"> <!-- products table -->
            <table class="table">
              <thead>
                <th class="colServuct">Product</th>
                <th class="col200">Price</th>
                <th class="col200">Quantity</th>
              </thead>
            </table>
            <div class="servuctList">
            <table class="table">
              <tbody id="products">
                <!-- Products -->
              </tbody>
            </table>
            </div>
          </td>
          <td id="serviceTable"> <!-- services table -->
            <table class="table">
              <thead>
                <th class="colServuct">Service</th>
                <th class="col200">Price</th>
              </thead>
            </table>
            <div class="servuctList">
            <table class="table">
              <tbody id="services">
                <!-- Services -->
              </tbody>
            </table>
            </div>
          </td>
        </tr>

      </table>




    </article>


  </div>
  <div id="footer">
    <ul class="links">
      <li>&copy; Daniel and Sophie</li>
    </ul>
  </div>
</div>

</body>

<!-- MODALS -->

<!-- New Servuct -->
<div id="addProModal" class="modal hide fade" role="dialog" aria-labelledby="addProModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h2>Add New Product</h2>
  </div>
  <table class="table table-striped">
    <td class="overflowServucts">
      <div id='productGroup'>
        <table class="table table-striped">
          <div id="productDiv1">
            <tr><td class="col250">
              <span class="labels">Product #1 : </span><input type='textbox' id='product1'>
             </td><td>
            <span class="labels">Price : </span><input type='textbox' id='proPrice1' class="tiny">
            </td><td>
            <span class="labels">Quantity: </span><input type='textbox' id='proQuantity1' class="tiny">
            </td>
            </tr>
          </div>
        </table>
      </div>
      </td>
  </table>
  <div class="modal-footer center">
    <button type="button" class="button floatR" id="addProduct">Add More</button>
    <button type="button" class="button floatL" id="removeProduct">Less</button>
    <br/><br/><br/>
    <button type="button" class="button floatL" data-dismiss="modal">Cancel</button>
    <button type="button" class="button floatR" id="saveProduct">Save</button>
  </div>
</div>

<div id="addServModal" class="modal hide fade" role="dialog" aria-labelledby="addServModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h2>Add New Service</h2>
  </div>
  <table class="table table-striped">
    <td class="overflowServucts">
      <div id='serviceGroup'>
        <table class="table table-striped">
          <div id="serviceDiv1">
            <tr><td class="col250">
              <span class="labels">Service #1 : </span><input type='textbox' id='service1' >
            </td>
            <td>
            <span class="labels">Price : </span><input type='textbox' id='servPrice1' class="tiny">
            </td></tr>
          </div>
        </table>
      </div>
    </td>
  </table>
  <div class="modal-footer center">
    <button type="button" class="button floatR" id="addService">Add More</button>
    <button type="button" class="button floatL" id="removeService">Less</button>
    <br/><br/><br/>
    <button type="button" class="button floatL" data-dismiss="modal">Cancel</button>
    <button type="button" class="button floatR" id="saveService">Save</button>
  </div>
</div>





<!-- 
    Create new client modal 
      -->
<div id="newclientmodal" class="modal hide fade" role="dialog" aria-labelledby="newClientModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3>Create Client</h3>
  </div>
    <div class="modal-body">
      <p> Do you want to create a new client file?</p>
    </div>
  <div class="modal-footer">
    <button type="button" class="button floatR" id="newclientyes">Yes</button>
    <button type="button" class="button floatL" id="newclientno" data-dismiss="modal">No</button>
  </div>
</div>

<!-- 
    Delete client modal 
      -->
<div id="delclientmodal" class="modal hide fade" role="dialog" aria-labelledby="delClientModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3>Delete Client</h3>
  </div>
  <div class="modal-body">
     <p> Are you sure you want to delete this client?</p>
   </div>
  <div class="modal-footer">
   <button type="button" class="button floatR" id="delclientyes">Yes</button>
   <button type="button" class="button floatL" id="delclientno" data-dismiss="modal">No</button>
  </div>
</div>

<!--
    Appointments Modal Popup
        -->
<div id="apptModal" class="modal hide fade" data-focus-on="input:first">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Appointment</h3>
  </div>
  <div id="apptBody" class="modal-body">
    <form>
      <table id="servprotable" class="table table-striped" align="center">
        <tr>
          <td>
            <label for="servicedate">Date of Service:</label>  
            <input name='date_B' type='date' value='' id="servicedate" required/></td>
          <td>
            <label for="time">Time:</label>
            <input type="text" id="time" required></td>
          <td rowspan="2" colspan="2">
            <label for="notes">Notes:</label> 
            <textarea id="notes" rows="5" ></textarea></td>
        </tr>
        <tr>
          <td class="center">
            <button type="button" class="button" id="servadd">Add Service</button>
          </td>
          <td class="center">
            <button type="button" class="button" id="proadd">Add Product</button>
          </td>
        </tr>
        <tr>
          <td id="servtable">
            <!-- Services table -->
            <table class="table table-striped"> 
              <thead>
                <tr>
                  <th class="col200">Service</th>
                  <th class="col100">Price</th>
                </tr>
              </thead>
            </table>
            <div class="overflowTable"> <!-- scrolls excess services -->
              <table class="table table-striped">
                <tbody id="serviceBody">
                <!-- added services will print here -->
                </tbody>
              </table> 
            </div>
            <table class="table table-striped"> 
              <tfoot>
                <tr>
                  <th id="numServices" class="col200">0 Services:</th>
                  <th id="servicesCost" class="col100">$0.00</th>
                </tr>
              </tfoot>
            </table>
          </td>
          <!-- end services table -->
          <td id="protable">
          <!-- Products table-->
            <table class="table table-striped"> 
              <thead>
                <tr>
                  <th class="col200">Product</th>
                  <th class="col100">Price</th>
                </tr>
              </thead>
            </table>
            <div class="overflowTable"> <!-- scrolls excess productss -->
              <table class="table table-striped">
                <tbody id="productBody">
                <!-- added products will print here -->
                </tbody>
              </table>
            </div>
            <table class="table table-striped"> 
                <tfoot>
                  <tr>
                    <th id="numProducts" class="col200">0 Products:</th>
                    <th id="productsCost" class="col100">$0.00</th>
                  </tr>
                </tfoot>
            </table>
          </td>
          <!-- end products table -->
          <td id="calculations">
            <table class="table table-striped"> <!-- calculations table -->
              <tr>
                <td class="col200">
                  <span class="labels">Subtotal:</span>      
                </td>
                <td class="col100">
                  <span id="subtotal" class="money">subtotal</span>
                </td>
              </tr>
              <tr>
                <td class="col200">    
                  <span class="labels">Tax
                  <input class="tiny updateGrandTotal" type="text" id="tax">
                  %:</span> 
                </td>
                <td class="col00">
                  $<span id="taxtotal">tax</span><br/><br/>
                </td>
              </tr>
              <tr>
                <td class="col200">
                  <span class="labels">Discounts:</span> 
                </td>
                <td class="col100">
                  <span class="updateGrandTotal money" id="discount" step="0.01">discount</span>
                </td>
              </tr>
              <tr>
                <td class="col200">
                  <span class="labels">Tip:</span>
                </td>
                <td class="col200">
                  <span>$
                  <input class="tiny updateGrandTotal money" type="text" id="tip"></span>
                </td>
              </tr>
              <tr>
                <td class="col200">
                  <span class="labels">Grand Total:</span> 
                </td>
                <td class="col100">
                  $<span class="smallinput" id="grandtotal">grandtotal</span>
                </td>
              </tr>
            </table> <!--  closes calculations table -->
          </td>
          <td>
            <table class="table table-striped">
              <tr>
                <td class="col200">
                  <span class="labels">Cash:</span>
                </td>
                <td class="col200">
                  <span>$
                    <input class="tiny updateGrandTotal money" type="text" id="cash"></span>
                </td>
              </tr>
              <tr>
                <td class="col200">
                  <span class="labels">Card:</span>
                </td>
                <td class="col200">
                  <span>$
                    <input class="tiny updateGrandTotal money" type="text" id="card"></span>
                </td>
              </tr>
              <tr>
                <td class="col200">
                  <span class="labels">Amount Due:</span> 
                </td>
                <td class="col100">
                  $<span class="smallinput" id="due">due</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table> <!--Closes servprotable-->
  </div> <!-- closes apptBody-->
  <div id="apptFooter" class="modal-footer">
    <button type="button" class="button floatL" id="apptdelete">Delete</button>
    <button type="button" class="button" id="apptcancel" data-dismiss="modal">Cancel</button>
    <button type="button" class="button floatR" id="apptsave">Save</button>
  </div>
    </form>
</div> <!-- closes apptModal -->

<!--
    SERVUCT add to appointment 
      -->
<div id="addServuct" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="servuctHeader">New Servuct</h3>
  </div>
  <div class="modal-body newList">
    <form>
      <fieldset>
        <table class="table">
          <thead>
            <th class="namecol">Name</th>
            <th class="center">Price</th>
            <th class="center">Discount</th>
          </thead>

          <tbody id="newList">

            <!-- Service -->
            <tr><td class="namecol">
              <label class="namecol"><input type="checkbox" id="servname1"/> Servuasfdt 1asdfafaf </label>
            </td><td class="center" id="servprice1">$211.05
            </td><td class="center">$
              <input class="tiny money" type="text" id="servdisc1"></span><br/><br/>
            </td></tr>

            <tr><td>
              <label><input type="checkbox" id="sother"/> Other </label>
              <input class="namecol center" type="text" id="sothername"></span><br/><br/>
            </td><td class="center" id="sotherprice">$211.05
            </td><td class="center">$
              <input class="tiny money" type="text" id="sotherdisc"></span><br/><br/>
            </td></tr>

          </tbody>
        </table>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <table class="table table-striped">
      <tr>
        <button type="button" class="button small center" id="servdelete">Delete</button>
        <button type="button" class="button small center" id="servcancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="button small center" id="servsave">Save</button>
      </tr>
    </table>
  </div>
</div> <!-- closes addService modal -->


<div id="addProduct" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="productHeader">New Servuct</h3>
  </div>
  <div class="modal-body newList">
    <form>
      <fieldset>
        <table class="table">
          <thead>
            <th class="namecol">Name</th>
            <th class="center">Quantity</th> 
            <th class="center">Price</th>
            <th class="center">Discount</th>
          </thead>

          <tbody id="newList">
            <!-- Product  -->
            <tr><td class="namecol">
              <label class="namecol"><input type="checkbox" id="proname1"/> Product 1asdadf asdffafaf </label>
            </td><td>
              <input class="tiny center" type="text" id="proquant1"></span>
            </td><td class="center" id="proprice1">$211.05
            </td><td class="center">$
              <input class="tiny money" type="text" id="prodisc1"></span><br/><br/>
            </td></tr>

            <tr><td>
              <label><input type="checkbox" id="pother"/> Other </label>
              <input class="namecol center" type="text" id="pothername"></span><br/><br/>
            </td><td class="center" id="potherprice">$211.05
            </td><td class="center">$
              <input class="tiny money" type="text" id="potherdisc"></span><br/><br/>
            </td></tr>

          </tbody>
        </table>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <table class="table table-striped">
      <tr>
        <button type="button" class="button small center" id="prodelete">Delete</button>
        <button type="button" class="button small center" id="procancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="button small center" id="prosave">Save</button>
      </tr>
    </table>
  </div>
</div> <!-- closes addServuct modal -->

<div id="editServuctModal" class="modal hide fade" data-focus-on="input:first">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Edit Servuct</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped"> 
      <tr>
        <td> 
          <label for="editservname" id="servuctLabel">Servuct Name:</label> 
          <input type="text" id="editservname">
        </td>
        <td rowspan="2" class="small">
          <label for="editservprice">Price:</label> 
          <input class="money" type="text" id="editservprice">
          <label for="editservdiscount">Discount:</label> 
          <input class="money" type="text" id="editservdiscount">
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <table class="table table-striped">
      <tr>
        <button type="button" class="button small center" id="editServuctDel">Delete</button>
        <button type="button" class="button small center" id="editServuctCancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="button small center" id="editServuctSave">Save</button>
      </tr>
    </table>
  </div>
</div>
  





</html>