<!DOCTYPE HTML>
<html>
<head>
<title>pamperBase</title>
<meta charset="utf-8">
<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/oauth.js"></script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.formerize-1.1.js"></script>
<script src="/stylesheets/5grid/init.js?use=mobile,desktop"></script>
<script src="/javascripts/init.js"></script>
<script src="/node_modules/moment/min/moment.min.js"></script>
<script src='javascripts/fullcalendar.js'></script>
<noscript>
<link rel="stylesheet" href="/stylesheets/5grid/core.css">
<link rel="stylesheet" href="/stylesheets/5grid/core-desktop.css">
<link rel="stylesheet" href="/stylesheets/5grid/core-1200px.css">
<link rel="stylesheet" href="/stylesheets/5grid/core-noscript.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/style-desktop.css">
<link rel="stylesheet" href="/stylesheets/noscript.css">
</noscript>
  
<link rel='stylesheet' href='/stylesheets/fullcalendar.css' />
<script type="text/javascript" src="/javascripts/list.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-combined.min.css">
<script type='text/javascript'>//<![CDATA[
		$(function(){
	   	$('#apptModal').modal({
			keyboard: true,
			show:false,
			
		  });/*.on('show', function(){
			  var getIdFromRow = $(this).data('apptid');
			//make your ajax call populate items or what even you need
			$(this).find('#apptDetails').html($('<b> Appointment selected: ' + getIdFromRow + '</b>'))
		});
		$(".table-striped").find('tr[data-target]').on('click', function(){
			//or do your operations here instead of on show of modal to populate values to modal.
			 $('#apptModal').data('apptid',$(this).data('id'));
		});
		});*/
		//]]> 

      $('#delclientmodal').modal({
      keyboard: true,
      backdrop: "static",
      show:false,
      });
      $('#newclientmodal').modal({
      keyboard: true,
      backdrop: "static",
      show:false,
      });
    });
  </script>



<!--[if lte IE 8]>
<link rel="stylesheet" href="css/ie8.css">
<![endif]-->
</head>
<body class="homepage">
  <div id="authorize-div" style="display: none">
        <span>Authorize access to Google Sheets API</span>
        <!--Button for the user to click to initiate auth sequence -->
        <button id="authorize-button" onclick="handleAuthClick(event)">
          Authorize
        </button>
      </div>
  <div id="wrapper">
  <nav id="nav"> 
        <a href="#calendar" class="icon icon-calendar active">
          <span>Calendar</span>
        </a> 
        <a href="#client" class="icon icon-user">
          <span>Client</span>
        </a> 
        <a id="mail" href="#search" class="icon icon-search">
          <span>Search</span>
        </a> 
        <a href="#report" class="icon icon-memo">
          <span>Report</span>
        </a>
        <a href="#inventory" class="icon icon-drawer">
          <span>Inventory</span>
        </a>
  </nav>
  <div id="main">


    <article id="calendar" class="panel">
      <header></header>
        <div id='calendar'></div>
    </article>

    <article id="client" class="panel">

      <header>
    <div class="clientdelete">
        <input class="button" id="deletebtn" data-toggle="modal" data-target="#delclientmodal" value="Delete Client">
    </div>

    <div class="clientcreate">
        <input class="button" id="createbtn" data-toggle="modal" data-target="#newclientmodal" value="New Client">
    </div>

    <div id="newclientmodal" class="modal hide fade" role="dialog" aria-labelledby="newClientModalLabel" aria-hidden="true">
     <div class="modal-header">
       <h3>Create Client</h3>
     </div>
      <div class="modal-body">
        <p> Do you want to create a new client file?</p>
      </div>
      <div class="modal-footer">
        <input class="button modalyes" id="newclientyes" value="Yes">
        <input class="button modalno" id="newclientno" data-dismiss="modal" value="No">
      </div>
    </div>

        <h2><br/>Client Information</h2>
      </header>
  <div id="delclientmodal" class="modal hide fade" role="dialog" aria-labelledby="delClientModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h3>Delete Client</h3>
    </div>
    <div class="modal-body">
       <p> Are you sure you want to delete this client?</p>
     </div>
     <div class="modal-footer">
     <input class="button modalyes" id="delclientyes" value="Yes">
        
     <input class="button modalno" id="delclientno" data-dismiss="modal" value="No">

    </div>
  </div>
  <div>
      <form action="#" method="post">
        <div class="5grid">
          <div class="row">
            <div class="6u">
        <label for="fname">First Name</label>
              <input type="text" class="text" id="fname" required>
            </div>
      <div class="6u">
        <label for="lname">Last Name</label>
              <input type="text" class="text" id="lname" required>
            </div>
      </div>
      <div class="row">
            <div class="6u">
        <label for="address">Address</label>
              <input type="text" class="text" id="address">
            </div>
      <div class="6u">
        <label for="phone">Telephone</label>
              <input type="tel" class="text" id="phone">
            </div>
          </div>
      <div class="row">
            <div class="6u">
        <label for="eMail">E-mail</label>
              <input type="email" class="text" id="eMail">
            </div>
      <div class="6u">
              <label for="bday">Date of Birth</label> 
        <input type="date" class="text" id="bday">
            </div>
          </div>
        </div><br/>
    <div class="clientbuttons">
      <input class="button" value="Save Changes" id="save-client"><br/><br/>
      <input id="newappt" class="button" value="Add New Appointment" data-toggle="modal" data-target="#apptModal">
    </div>
      </form>
  </div>
    
    
    <h3>Appointments</h3>

<table class="table table-striped"> <thead>
    <tr>
        <th>Date</th>
        <th>Services</th>
        <th>Total</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody id="appointments">
    </tbody>
</table>


    
<div id="apptModal" class="modal hide fade" role="dialog" aria-labelledby="apptModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
         <h3>Appointment</h3>

    </div>
    <!--<div id="apptDetails" class="modal-body"></div>-->
  <div class="modal-body apptBody">
    <form>
      <table cellspacing="10">
        <tr>
          <td>
            <label for="servicedate">Date of Service:</label>  
            <input name='date_B' type='date' value='' id="servicedate" required/></td>
          <td>
            <label for="time">Time:</label>
            <input type="text" id="time" required></td>
        </tr>
      </table>
      <table class="table table-striped" align="center">
        <tr>
          <td>
            <table class="table table-striped"> 
              <thead>
                <tr class="servicetable">
                  <th>Service</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody id="">
                <tr class="highlight clearboth" data-toggle="modal" data-target="#apptModal">
                  <td>
                    Facial
                  </td>
                  <td>
                    $$$
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table class="table table-striped"> 
              <thead>
                <tr class="servicetable">
                  <th>Product</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody id="">
                <tr class="highlight clearboth" data-toggle="modal" data-target="#apptModal">
                  <td>
                    Acne mask
                  </td>
                  <td>
                    $$$
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
              <tfoot>
                <tr>
                  <td>
                   
                  </td>
                  <td>
                   
                  </td>
                </tr>
              </tfoot>
      </table>

      <table>
        <tr>
          <td>
            <label for="tip">Tip:</label>
            <input type="text" id="tip"></td>
          <td>
            <label for="tax">Tax:</label> 
            <input type="text" id="tax"></td>
        </tr>
        <tr>
          <td>
            <label for="discount">Discount:</label> 
            <input type="text" id="discount"></td>
          <td>
            <label for="grandtotal">Grand Total:</label> 
            <input type="text" id="grandtotal"></td>
        </tr>
        <tr>
          <td colspan="2">
          <label for="notes">Notes:</label> 
          <textarea id="notes" rows="5" ></textarea></td>
        </tr>
    </table>  
  </div> <!-- closes table modal body-->
  <div id="apptFooter" class="modal-footer">
      
        <input class="button" id="apptdelete" value="Delete">
        
        <input class="button" id="apptsave" value="Save">
            </form>
  </div>
       
                

  
    <!--<div id="apptItems" class="modal-body"></div>-->

</div>
    
    </article>
    <article id="search" class="panel">
      <header>
        <h2>Search</h2>
      </header>
      <div class="table" id="searchlist">
        <input class="search" placeholder="Search" /><br/><br/>
          <div class="data">
            <ul class="row-header">
              <li>Last Name</li>
              <li>First Name</li>
              <li>Telephone</li>
              <li>Current Appointment</li>
            </ul>
            <div class="list" id="listpeople">
            <!--search list will print here-->
            </div>
          </div>
      </div>
    </article>
    <article id="report" class="panel">
      <header>
        
      </header>
    </article>
    <article id="inventory  " class="panel">
      <header>
        
      </header>
    </article>
  </div>
  <div id="footer">
    <ul class="links">
      <li>&copy; Daniel and Sophie</li>
    </ul>
  </div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
</html>